name: Email Workflow

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 24f3003942@ds.study.iitm.ac.in
        run: echo "Action triggered successfully"
